{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{% static "planner_app/css/materialize.min.css" %}">
    <link rel="stylesheet" href="{% static "planner_app/css/custom.css" %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    {%  if request.user.is_authenticated %}

    <nav class="grey darken-1">
      <div class="nav-wrapper">
        <a id="logo-container" href="#" class="brand-logo"><i class="material-icons">terrain</i>weClimb</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">settings</i></a>
        <a href="#" data-activates="slide-out" class="my-sidenav button-collapse left" style="margin-left: 0px"><i class="material-icons right">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/logout"><i class="material-icons left">lock_outline</i>Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/logout"><i class="material-icons left">lock_outline</i>Logout</a></li>
        </ul>
      </div>
    </nav>
    {% if profile.is_instructor == True %}
    <ul id="slide-out" class="side-nav bordered fixed grey lighten-5">
        <li><a href="#!" class="grey-text"><h5>Instructor</h5></a></li>
        <li><a href="#!" class=""><i class="material-icons left">face</i>Users</a></li>
        <li><a href="#!" class=""><i class="material-icons">format_list_bulleted</i>My Plans</a></li>
        <li><a href="#!" class=""><i class="material-icons">settings</i>Create plans</a></li>
        <li><a href="#!" class=""><i class="material-icons">settings</i>Feature4</a></li>
        <li><a href="#!" class=""><i class="material-icons">settings</i>Feature5</a></li>
    </ul>
    {% else %}
    <ul id="slide-out" class="side-nav bordered fixed grey lighten-5">
        <li><a href="#!" class="grey-text">Standard user</a></li>
        <li><a href="#!" class=""><i class="material-icons left">face</i>Friends</a></li>
        <li><a href="#!" class=""><i class="material-icons">format_list_bulleted</i>Plans</a></li>
        <li><a href="#!" class=""><i class="material-icons">date_range</i>Calendar</a></li>
        <li><a href="#!" class=""><i class="material-icons">trending_up</i>Stats</a></li>
    </ul>
    {% endif %}


    {% else %}

    <nav class="grey darken-1">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="material-icons">home</i>Welcome</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">settings</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/login"><i class="material-icons left">lock_open</i>Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/login"><i class="material-icons left">lock_open</i>Login</a></li>
        </ul>
      </div>
    </nav>

    {% endif %}

    {% block content %}{% endblock %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static "planner_app/js/materialize.min.js" %}"></script>
    <script>
        $( document ).ready(function(){
            $(".button-collapse").sideNav();
            $(".my-sidenav").sideNav();
            $('.tooltipped').tooltip();
        });
    </script>
    </body>
</html>
