{% extends 'base.html'%}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block content %}

<div class="row">
    <div class="col l11 offset-l1">
          <div class="section no-pad-bot" id="index-banner">
            <div class="container">
              <br><br>
              <h1 class="header center orange-text">weClimb</h1>
              <div class="row center">
                <h5 class="header col s12 light">A new way to track and improve your trainings</h5>
              </div>
              <div class="row center">
                <a href="" id="download-button" class="btn-large waves-effect waves-light orange"><i class="material-icons left">add</i>Add new training</a>
              </div>
              <br><br>
            </div>
          </div>

          <div class="container">
            <div class="section center">

              <!--   Icon Section   -->
              <div class="row">
                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons" style="font-size: 3rem">fitness_center</i></h2>
                    <h5 class="center">Check your training plans</h5>

                    <p class="light">Check training plan for the upcoming weeks. Track your progress, add notes and your thoughts.</p>
                  </div>
                </div>

                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons" style="font-size: 3rem">insert_invitation</i></h2>
                    <h5 class="center">Add new training to the calendar</h5>

                    <p class="light">You can easily set up a new training here. Use existing exercise propositions or create them below.</p>
                  </div>
                </div>

                <div class="col s12 m4">
                  <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons" style="font-size: 3rem">library_add</i></h2>
                    <h5 class="center">User default or custom exercises</h5>

                    <p class="light">We have provided some of the basic exercises that you can add to your training plans but you can also create your own and custom activities as well.</p>
                  </div>
                </div>
              </div>

            </div>
            <br><br>
          </div>
    </div>
</div>
{% endblock %}
